/* Layout columns */

[class*="col-"] {
  background-color: #fec0cb;
  height: 130px;
  border: 1px solid black;
}

/* /Layout columns */

/* Nested elements layout */

.container > .col-6 > .col-2,
.container > .col-6 > .col-8,
.container > .col-6 > .col-6 {
  border: 1px solid white;
}

/* /Nested elements layout */
